<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
                <h1>Add New Super User</h1>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title mb-3">Add New Super User</div>
                            <form action="javascript:void(0)" ref="addNew" @submit="addNew">
                                <div class="row">
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" class="form-control" required/>
                                    </div>
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="name">Email</label>
                                        <input type="email" name="email" id="email" class="form-control" required/>
                                    </div>
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="name">User Name</label>
                                        <input type="text" name="user_name" id="user_name" class="form-control" required/>
                                    </div>
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="name">Phone Number</label>
                                        <input type="text" name="phone_number" id="phone_number" class="form-control" required/>
                                    </div>
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="gender_id">Gender</label>
                                        <select class="form-control" id="gender_id" name="gender_id" required>
                                            <option :value="null">Select One</option>
                                            <option v-for="gender in info.genders" :value="gender.id">{{ gender.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="blood_group_id">Blood Group</label>
                                        <select class="form-control" id="blood_group_id" name="blood_group_id" required>
                                            <option :value="null">Select One</option>
                                            <option v-for="blood_group in info.blood_groups" :value="blood_group.id">{{ blood_group.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 form-group mb-3">
                                        <label for="religion_id">Religion</label>
                                        <select class="form-control" id="religion_id" name="religion_id" required>
                                            <option :value="null">Select One</option>
                                            <option v-for="religion in info.religions" :value="religion.id">{{ religion.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <router-link :to="{name:'admin.super.user'}"><button class="btn btn-primary">Back</button></router-link>
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- end of main-content -->
        </div><!-- Footer Start -->
    </div>
</template>
<script>
export default {
    data(){
        return{
            info:{},//basic info store here likes genders,blood groups,religions
        }
    },
    created() {
        //this.getInfo();
    },
    methods:{
        getInfo(){//basic information get likes genders,blood groups,religions
            axios.post('/basic/form/information').then((response)=>{
                this.info=response.data;
            }).then((error)=>{
                //
            });
        },
        addNew(){//methods for add new super user
            /*axios.post('/super/user/add',new FormData(this.$refs.addNew)).then((response)=>{
                this.$toaster.success(response.data);
                this.clear();
            }).catch((error)=>{
                this.$toaster.error(error);
            });*/
        },
        clear(){//after registration clear all information
            $('#name').val('');
            $('#email').val('');
            $('#phone_number').val('');
            $('#user_name').val('');
        }
    }
}
</script>
