<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
                <h1 class="mr-2">Customer Update</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-6">
                                <div class="card-body">
                                    <div class="card-title mb-12">Update User</div>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="firstName2">Name</label>
                                                <input class="form-control form-control-rounded" id="firstName2" type="text" placeholder="Enter your name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="lastName2">Father's name</label>
                                                <input class="form-control form-control-rounded" id="lastName2" type="text" placeholder="Enter your Father's name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="exampleInputEmail2">Email address</label>
                                                <input class="form-control form-control-rounded" id="exampleInputEmail2" type="email" placeholder="Enter email" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="phone1">Phone</label>
                                                <input class="form-control form-control-rounded" id="phone1" placeholder="Enter phone" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="credit2">Village</label>
                                                <input class="form-control form-control-rounded" id="credit2" placeholder="Enter your Village name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="website2">Union</label>
                                                <input class="form-control form-control-rounded" id="website2" placeholder="Enter your Union name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="picker3">Word</label>
                                                <input class="form-control form-control-rounded" id="picker3" placeholder="Enter your Word name" name="dp" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="picker3">Post</label>
                                                <input class="form-control form-control-rounded" id="picker4" placeholder="Enter your Post name" name="dp" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="picker3">District</label>
                                                <input class="form-control form-control-rounded" id="picker5" placeholder="Enter your District name" name="dp" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="picker3">House</label>
                                                <input class="form-control form-control-rounded" id="picker6" placeholder="Enter your House Address" name="dp" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="picker3">Area</label>
                                                <input class="form-control form-control-rounded" id="picker7" placeholder="Enter your Area" name="dp" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label>Gender</label>
                                                <select class="form-control form-control-rounded">
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 form-group mb-6">
                                                <div class="card text-left">
                                                    <div class="card-body">
                                                        <h4 class="card-title">single upload</h4>
                                                        <form class="dropzone" id="single-file-upload" action="#">
                                                            <div class="fallback">
                                                                <input name="file" type="file" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <router-link :to="{name:'admin.customerDetails'}">
                                                    <button class="btn btn-primary" style="width: 100px; margin-right: 20px;">Back</button>
                                                </router-link>
                                                <button class="btn btn-primary" style="margin-right:15px; width: 100px">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UpdateCustomer"
}
</script>

<style scoped>

</style>
