<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
                <h1>Super User</h1>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <div class="row mb-4">
                <div class="col-md-12 mb-4">
                    <div class="card text-left">
                        <div class="card-body">
                            <div class="card-title mb-3">Super User
                                <router-link :to="{name:'admin.super.user.add'}">
                                    <button class="btn btn-primary">Add New</button>
                                </router-link>
                            </div>
                            <div class="table-responsive">
                                <table id="table" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Phone NUmber</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(user,key) in users">
                                        <td>{{key+1}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.user_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone_number}}</td>
                                        <td>
                                            <p style="color: green" v-if="user.is_active">Active</p>
                                            <p style="color: red" v-if="user.is_active===0">Inactive</p>
                                        </td>
                                        <td>
                                            <button v-if="user.is_active" class="btn btn-danger" @click="statusChange(user)">Deactivate</button>
                                            <button v-else-if="user.is_active===0" class="btn btn-success" @click="statusChange(user)">Activate</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Phone NUmber</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of col-->
            </div>
            <!-- end of row-->
            <!-- end of main-content -->
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            users:{},//all super users are store here
            dataTableStatus:false,
        }
    },
    created() {
        this.getInfo();
    },
    methods:{
        getInfo(){//super user information get
            axios.post('/super/user').then((response)=>{
                this.users=response.data;
                if (this.dataTableStatus===false){
                    this.$nextTick(() => {
                        $("#table").DataTable({});
                        this.dataTableStatus=true
                    });
                }
            })
        },
        statusChange(user){//super user status change likes active or deactivate
            axios.post(`/super/user/status/change${user.id}`).then((response)=>{
                this.$toaster.success(response.data);
                this.getInfo();
            })
        }
    }
}
</script>
