<!DOCTYPE html>
<html lang="en">

<head>
    <title>Invoice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
</head>

<body>
    <div class="container" style="background-color:#ECECEC;">
        <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="row" style="background-color: #D6EAFF;">
                    <div class="col-md-4 d-flex justify-content-start">
                        <img class="rounded" src="{{url_for('static',filename='img/481965.jpg')}}" style="width:50%; margin:5px;">
                    </div>
                    <div class="col-md-8 d-flex justify-content-end">
                        <div>
                            <h1 style="color: #007ACC;">Company Name</h1>
                            <h3 style="text-align: right;">Hello</h3>
                            <h3 style="text-align: right;">Hello</h3>
                            <p style="text-align: right;">Hello</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Light Borderless Table</h4>
                            <p>Add <code>.table-borderless</code> for a table without borders.</p>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Avatar</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for post in posts %}
                                        <tr class="item">
                                            <td style="text-align:center;">{{ post.Code_Product }}</td>
                                            <td style="text-align:center;">{{ post.Brand }}</td>
                                            <td style="text-align:center;">{{ post.Product_Name }}</td>
                                            <td style="text-align:center;">{{ post.Unit }}</td>
                                            <td style="text-align:center;">{{ post.Unit_Price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script>
</body>

</html>