<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
                <h1 class="mr-2">Customer Add</h1>
            </div>
            <div class="row">
                 <div class="col-md-12 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-6">
                                <div class="card-body">
                                    <div class="card-title mb-12">Add User</div>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="name">Name</label>
                                                <input class="form-control form-control-rounded" id="name" name="name" type="text" placeholder="Enter your name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="emailaddress">Email address</label>
                                                <input class="form-control form-control-rounded" id="emailaddress" name="email" type="email" placeholder="Enter email" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="phone">Phone</label>
                                                <input class="form-control form-control-rounded" id="phone" name="phone_number" placeholder="Enter phone" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="address">Address</label>
                                                <input class="form-control form-control-rounded" id="address" name="address" placeholder="Enter your Village name" />
                                            </div>
                                            <div class="col-md-12 form-group mb-6">
                                                <div class="card text-left">
                                                    <div class="card-body">
                                                        <h4 class="card-title">single upload</h4>
                                                        <form class="dropzone" id="single-file-upload" name="image" action="#">
                                                            <div class="fallback">
                                                                <input name="file" type="file" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <router-link :to="{name:'admin.customerDetails'}">
                                                    <button class="btn btn-primary" style="width: 100px; margin-right: 20px;">Back</button>
                                                </router-link>
                                                <button class="btn btn-primary" style="margin-right:15px; width: 100px">Add</button>
                                                <router-link :to="{name:'admin.customerDetails.add.order'}">
                                                    <button class="btn btn-primary" style="width: 100px; margin-right: 20px;">Take Order</button>
                                                </router-link>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
name: "AddCustomer"
}
</script>

<style scoped>

</style>
