<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h1>Add User</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <router-link :to="{name:'admin.customerDetails.add'}">
                        <button class="btn btn-primary" style="margin-right:15px; width: 100px; margin-bottom: 10px;">Add</button>
                    </router-link>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Search Client</h4>
                            <div class="table-responsive">
                                <table class="table table-hover " id="complex_header_table" style="width:100%"><!--#table table-hover display table table-striped table-bordered-->
                                    <thead>
                                    <tr>
                                        <th rowspan="2">Name</th>
                                        <th colspan="2">HR Information</th>
                                        <th colspan="3">Contact</th>
                                        <th rowspan="2">Status</th>
                                        <th rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th>Position</th>
                                        <th>Salary</th>
                                        <th>Office</th>
                                        <th>Extn.</th>
                                        <th>E-mail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                        <td><span class="badge badge-success">Active</span></td>
                                        <td>
                                            <router-link :to="{name:'admin.customerDetails.update'}">
                                                <button class="btn btn-success" type="button"><i class="nav-icon i-Pen-2"></i></button>
                                            </router-link>

                                            <router-link :to="{name:'admin.customerDetails.update'}">
                                                <button class="btn btn-success" type="button">Profile</button>
                                            </router-link>
                                            <router-link :to="{name:'admin.customerDetails.add.order'}">
                                                <button class="btn btn-success" type="button">Order</button>
                                            </router-link>
                                            <button class="btn btn-danger" type="button"><i class="nav-icon i-Close-Window"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                        <td><span class="badge badge-success">Active</span></td>
                                        <td>
                                            <router-link :to="{name:'admin.customerDetails.update'}">
                                                <button class="btn btn-success" type="button"><i class="nav-icon i-Pen-2"></i></button>
                                            </router-link>
                                            <router-link :to="{name:'admin.customerDetails.update'}">
                                                <button class="btn btn-success" type="button">Profile</button>
                                            </router-link>
                                            <router-link :to="{name:'admin.customerDetails.order'}">
                                                <button class="btn btn-success" type="button">Order</button>
                                            </router-link>
                                            <button class="btn btn-danger" type="button"><i class="nav-icon i-Close-Window"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Salary</th>
                                        <th>Office</th>
                                        <th>Extn.</th>
                                        <th>E-mail</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator-breadcrumb border-top"></div>

            <!-- end of main-content -->
        </div><!-- Footer Start -->
        <div class="flex-grow-1"></div>
    </div>

</template>

<script>
import Label from "@/Jetstream/Label";
export default {
name: "CustomerDetails",
    components: {Label}
}
</script>

<style scoped>

</style>
