<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <router-link :to="{name:'admin.customerDetails'}">
                <button class="btn btn-primary">Back to the customer Details</button>
            </router-link>
            <h1>General Info</h1><br/>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <img class="profile-picture avatar-xl" src="" alt="alt" style="width: 80%;height: 80%;"/><!--rounded-circle-->
                </div>
                <div class="col-md-8 d-flex justify-content-start">
                    <div class="card-body">
                        <h2 class="card-title">Tanvir Ahmmed</h2>
                        <h2 class="card-text">Address: 147/j, Rajabazar, Farmgate, Dhaka<br/>016xxxxxxxx</h2>
                        <h3>Code: 001</h3>
                        <h3>Deposit: 0tk</h3>
                        <h3>Due: 0tk</h3>
                        <h3>Total Payment: 0</h3>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-start">
                    <div class="card-body">
                        <router-link :to="{name:'admin.customerDetails.update'}">
                            <button class="btn btn-primary" style=" margin-bottom: 10px;">See Full Profile</button>
                        </router-link>
                        <router-link :to="{name:'admin.customerDetails.add.order.transactioninfo'}">
                            <button class="btn btn-primary" style=" margin-bottom: 10px;">Transaction Information</button>
                        </router-link>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6"><!--col-xl-8 col-md-12 mb-4-->
                    <div class="card text-left">
                        <div class="card-header">
                            <h4 class="card-title mb-3">Product List</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="nav nav-tabs" id="dropdwonTab">
                                        <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" aria-controls="home" aria-expanded="true">New Item</a></li>
                                        <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile" aria-expanded="false">Hardware</a></li>
                                        <li class="nav-item"><a class="nav-link" id="about-tab" data-toggle="tab" href="#about" aria-controls="about" aria-expanded="false">Construction</a></li>
                                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            Others
                                        </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item active" id="dropdown1-tab" href="#dropdown1" data-toggle="tab" aria-controls="dropdown1" aria-expanded="true">@fat</a>
                                                <a class="dropdown-item" id="dropdown2-tab" href="#dropdown2" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">@mdo</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0" style="position: absolute;">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Type</th>
                                    <th scope="col">Product Price</th>
                                    <th scope="col">Picture</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>রড</td>
                                    <td>Construction</td>
                                    <td><span class="badge badge-info">5000tk per ton</span></td>
                                    <td><img class="rounded-circle m-0 avatar-sm-table" src="" alt="" /></td>
                                    <td><span class="badge badge-success">Available</span></td>
                                    <td>
                                        <div class="col-xs-2">
                                            <input class="form-control" id="ex1" type="text" placeholder="type your quantity">
                                        </div>
                                    </td>
                                    <td><button class="btn btn-primary" style=" margin-bottom: 10px;">Add</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>বালু</td>
                                    <td>Construction</td>
                                    <td><span class="badge badge-info">500tk per foot</span></td>
                                    <td><img class="rounded-circle m-0 avatar-sm-table" src="" alt="" /></td>
                                    <td><span class="badge badge-danger">Stock-out</span></td>
                                    <td>
                                        <div class="col-xs-2">
                                            <input class="form-control" id="ex2" type="text" size="1" placeholder="type your quantity">
                                        </div>
                                    </td>
                                    <td><button class="btn btn-primary" style=" margin-bottom: 10px;">Add</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <!--<ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="true">Edit</a></li>
                        </ul>-->
                        <div class="card">
                            <div class="card-body">
                                <form>
                                    <div class="row justify-content-between">
                                        <div class="col-md-6">
                                            <h4 class="font-weight-bold">Order Info</h4>
                                            <div class="col-sm-4 form-group mb-3 pl-0">
                                                <label for="orderNo">Order Number</label>
                                                <input class="form-control" id="orderNo" type="text" placeholder="Enter order number" />
                                            </div>
                                            <p>Total Due:<span>$0</span></p>
                                            <p>Current Due:<span>$1200</span></p>
                                            <p>Previous Due:<span>$1200</span></p>
                                        </div>

                                        <div class="col-md-3 text-right">
                                            <label class="d-block text-12 text-muted">Order Status</label>
                                            <div class="pr-0 mb-4">
                                                <label class="radio radio-reverse radio-danger">
                                                    <input type="radio" name="orderStatus" value="Pending" /><span>Pending</span><span class="checkmark"></span>
                                                </label>
                                                <label class="radio radio-reverse radio-warning">
                                                    <input type="radio" name="orderStatus" value="Processing" /><span>Processing</span><span class="checkmark"></span>
                                                </label>
                                                <label class="radio radio-reverse radio-success">
                                                    <input type="radio" name="orderStatus" value="Delivered" /><span>Delivered</span><span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="order-datepicker">Order Date</label>
                                                <input class="form-control text-right" id="order-datepicker" placeholder="yyyy-mm-dd" name="dp" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-4 border-top"></div>
                                    <div class="row mb-5">
                                        <div class="col-md-6">
                                            <h5 class="font-weight-bold">Bill From</h5>
                                            <div class="col-md-10 form-group mb-3 pl-0">
                                                <input class="form-control" id="billFrom3" type="text" placeholder="Bill From" />
                                            </div>
                                            <div class="col-md-10 form-group mb-3 pl-0">
                                                <textarea class="form-control" placeholder="Bill From Address"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <h5 class="font-weight-bold">Bill To</h5>
                                            <div class="col-md-10 offset-md-2 form-group mb-3 pr-0">
                                                <input class="form-control text-right" id="billFrom2" type="text" placeholder="Name" />
                                            </div>
                                            <div class="col-md-10 offset-md-2 form-group mb-3 pr-0">
                                                <input class="form-control text-right" id="billFrom4" type="text" placeholder="Phone Number" />
                                            </div>
                                            <div class="col-md-10 offset-md-2 form-group mb-3 pr-0">
                                                <textarea class="form-control text-right" placeholder="Bill From Address"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table table-hover mb-3">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Product Picture</th>
                                                    <th scope="col">Product Name</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><img class="profile-picture avatar-md rounded-circle" src="" alt="alt" /></th>
                                                    <td><span class="text-15 font-weight-600">রড</span><br /><small class="text-mute">BSRM</small></td>
                                                    <!--<td><span class="text-13">10 ton</span></td>-->
                                                    <td>
                                                        <div class="input-group btn-block" style="max-width: 200px;">
                                                            <input type="text" value="10 ton" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td><span>10000</span></td>
                                                    <td><button type="button" class="btn btn-danger"><i class="nav-icon i-Close-Window"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><img class="profile-picture avatar-md rounded-circle" src="" alt="alt" /></th>
                                                    <td><span class="text-15 font-weight-600">বালু</span><br /><small class="text-mute">...</small></td>
                                                    <td>
                                                        <div class="input-group btn-block" style="max-width: 200px;">
                                                            <input type="text" value="20 foot" class="form-control">
                                                        </div>
                                                    </td>
                                                    <td><span>20000</span></td>
                                                    <td><button type="button" class="btn btn-danger"><i class="nav-icon i-Close-Window"></i></button></td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Total Item: 2</th>
                                                    <th>Total Amount: 30000</th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <th>Product Picture</th>
                                                    <th>Product Name</th>
                                                    <th>Quantity</th>
                                                    <th>Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6 d-flex justify-content-start">
                                                    <div class="card" style="width: 1000px;background-color: #FFFFFF;border-color: #FFFFFF;">
                                                        <div class="card-body">
                                                            <h4 class="card-title mb-3">Payment Method</h4>
                                                            <ul class="nav nav-pills" id="myPillTab" role="tablist">
                                                                <li class="nav-item"><a class="nav-link active" id="home-icon-pill" data-toggle="pill" href="#homePIll" role="tab" aria-controls="homePIll" aria-selected="true"><i class="nav-icon i-Cash-register-2 mr-1"></i>Cash</a></li>
                                                                <li class="nav-item"><a class="nav-link" id="profile-icon-pill" data-toggle="pill" href="#profilePIll" role="tab" aria-controls="profilePIll" aria-selected="false"><i class="nav-icon i-Credit-Card mr-1"></i>Credit/Debit Card</a></li>
                                                            </ul>
                                                            <div class="tab-content" id="myPillTabContent">
                                                                <div class="tab-pane fade show active" id="homePIll" role="tabpanel" aria-labelledby="home-icon-pill">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12">
                                                                            <label class="ul-form__label">Amount:</label>
                                                                            <div class="input-group mb-3">
                                                                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon2"><i class="i-Cash-register-2 text-18"></i></span></div>
                                                                                <input class="form-control" type="text" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane fade" id="profilePIll" role="tabpanel" aria-labelledby="profile-icon-pill">
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-12">
                                                                            <label class="ul-form__label">Card Number:</label>
                                                                            <div class="input-group mb-3">
                                                                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="i-Credit-Card-2 text-18"></i></span></div>
                                                                                <input class="form-control" type="text" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <router-link :to="{name:'admin.invoices'}">
                                                                    <button class="btn btn-outline-success ladda-button example-button m-1" data-style="expand-left">
                                                                        <span class="ladda-label">Confirm</span>
                                                                        <span class="ladda-spinner"></span>
                                                                        <div class="ladda-progress" style="width: 0px;"></div>
                                                                    </button>
                                                                </router-link>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-6 d-flex justify-content-end">
                                                    <div class="invoice-summary invoice-summary-input float-right">
                                                        <p>Sub total: <span>$1200</span></p>
                                                        <p class="d-flex align-items-center">Vat(%):<span>
                                                <input class="form-control small-input" type="text" value="10" />$120</span></p>
                                                        <p class="d-flex align-items-center">Discount(%):<span>
                                                <input class="form-control small-input" type="text" value="10" />$120</span></p>
                                                        <h5 class="font-weight-bold d-flex align-items-center">Grand Total:<span>
                                                <input class="form-control small-input" type="text" value="$" />$1320</span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>
            <div class="separator-breadcrumb border-top"></div>
        <div class="flex-grow-1"></div>
    </div>
    </div>
    </div>
</template>

<script>
import Button from "@/Jetstream/Button";
export default {
    name: "CustomerDebitCredit",
    components: {Button}
}
</script>

<style scoped>

</style>
