<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-xl-3">
                                    <img src="../Customers/icon.png" style="width:80%; margin-top:-40px;">
                                </div>
                                <div class="col-xl-9">
                                    <h1 style="text-align:right; margin-bottom:-30px;">Star Tech & Engineering Ltd.</h1>
                                    <hr style="border: 1px solid blue; margin-bottom: 1px;">
                                    <p style="text-align:left;margin-bottom: -3px"><strong>Head Office : </strong>Shop-228, 229, 2nd Floor, IDB Bhaban, Agargaon, Dhaka</p>
                                    <p style="text-align:left;margin-bottom: -3px"><strong>Service Center : </strong>Shop-325, 326, 327, Level-03, Multiplan Center, New Elephant Road, Dhaka-1205</p>
                                    <p style="text-align:left;margin-bottom: -3px"><strong>Hot Line : </strong>09678002003</p>
                                </div>
                            </div>
                            <div class="row m-10">
                                <div class="col-md-6">
                                    <p><strong>Invoice No. : </strong> INV-STER5-2031-000080</p>
                                </div>
                                <div class="col-md-6 text-sm-right">
                                    <p><strong>S. Order No. : </strong> SO-STER5-Karim-2021-0000019</p>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <p><strong>Sold to : </strong>Mr. Karim</p>
                                    <p><strong>Address : </strong>FARMGATE</p>
                                    <p><strong>Phone No. : </strong>016xxxxxx</p>
                                    <p><strong>Remarks : </strong> </p>
                                </div>
                                <div class="col-md-6 text-sm-right">
                                    <p><strong>Stock Location : </strong>Multiplan Retail-504</p>
                                    <p><strong>Date : </strong>17-Jan-2021</p>
                                    <p><strong>Sales Person : </strong>Shahin</p>
                                    <p><strong>Entry by : </strong>Tanvir</p>
                                    <p><strong>Payment Terms : </strong>Credit</p>
                                    <p><strong>Promised Date : </strong>17-Jan-2021</p>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover mb-4">
                                        <thead class="bg-gray-300">
                                        <tr>
                                            <th scope="col">S/L No.</th>
                                            <th scope="col" >Product Description</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col" style="text-align:right;">Total Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Product 1</td>
                                                <td>1</td>
                                                <td>1800</td>
                                                <td style="text-align:right;">1800</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Product 1</td>
                                                <td>1</td>
                                                <td>1800</td>
                                                <td style="text-align:right;">1800</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row"></th>
                                                <td><p><strong>Warranty Days : </strong>365</p><br/><p><strong>S/N : </strong>CA7320901192</p></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-xl-6 d-flex justify-content-start">
                                    <h4><b>In Word Taka   ONE THOUSAND EIGHT HUNDRED ONLY</b></h4>
                                </div>
                                <div class="col-xl-6">
                                    <div class="invoice-summary">
                                        <p>Sub total: <span>$1200</span></p>
                                        <p>Vat: <span>$120</span></p>
                                        <h5 class="font-weight-bold">Grand Total: <span><u>$1320</u></span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-20">
                                <div class="col-xl-4 d-flex justify-content-start">
                                    <p><b>Signature & Company Stamp</b><br/>Warrenty will be void if there is any physical damage, burn issue & liquide damage to
                                        <br/>the product or warranty sticker is removed and sold goods are not refundable</p>
                                </div>
                                <div class="col-xl-8 d-flex justify-content-end">
                                    <div class="invoice-summary">
                                        <hr style="border: 1px solid black; margin-bottom: 1px;"><span><b>Authorized Signature and Company Stamp</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-10">
                                <div class="col-xl-6 d-flex justify-content-center">
                                    <h5>Page 1 of 1</h5>
                                </div>
                                <div class="col-xl-6 d-flex justify-content-center">
                                    <h5>Multiplan Retail-504</h5>
                                </div>
                            </div>
                            <div class="row m-10">
                                <div class="col-xl-12 d-flex justify-content-center">
                                    <div class="col-xl-4 d-flex justify-content-center">
                                        <h5>Time of printing: 2:46AM</h5>
                                    </div>
                                    <div class="col-xl-4 d-flex justify-content-center">
                                        <h5>Date of Printing: 18-Jan-2021</h5>
                                    </div>
                                    <div class="col-xl-4 d-flex justify-content-center">
                                        <h5>Printed By: Tanvir</h5>
                                    </div>
                                </div>
                            </div>
                        <div class="invo-footer" style="background-color:#E79140;">
                            <div class="row m-10">
                                <div class="col-xl-4">
                                    <h4>Facebook: star.tech.ltd</h4>
                                </div>
                                <div class="col-xl-4">
                                    <h4>Email: admin@startechbd.com</h4>
                                </div>
                                <div class="col-xl-4">
                                    <h4>Website: www.startech.com.bd</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CustomerInvoices"
}
</script>

<style scoped>

</style>
