<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title mb-3">Multi Sms</div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 form-group mb-3">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input class="form-control" id="phoneNumber" type="number" placeholder="Enter Phone Number" />
                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <textarea name="career[message]" class="form-control" id="msgBody" tabindex="4"placeholder="Write Massage Here." ></textarea>
                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <label>User Type</label>
                                        <select class="form-control">
                                            <option>Seller</option>
                                            <option>Stuff</option>
                                            <option>Buyer</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="radio radio-primary">
                                            <input type="radio" name="radio" value="0" /><span class="font-weight-700">Bangla</span><span class="checkmark"></span>
                                        </label>
                                        <label class="radio radio-primary mt-2">
                                            <input type="radio" name="radio" value="0" /><span class="font-weight-700">English</span><span class="checkmark" checked="checked"></span>
                                        </label>
                                        <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Sms Report</h4>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Checkbox</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Karim</td>
                                        <td>016000000</td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                                <label class="custom-control-label" for="customCheck1"></label>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Karim</td>
                                        <td>013000000</td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
name: "MultiSms"
}
</script>

<style scoped>

</style>
