<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <router-link :to="{name:'admin.customerDetails'}">
                <button class="btn btn-primary">Back to the customer Details</button>
            </router-link>
            <h1>General Info</h1><br/>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="col-md-12 form-group mb-6">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title">Picture upload</h4>
                                <form class="dropzone" id="single-file-upload" action="#">
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 d-flex justify-content-start">
                    <div class="card-body">
                        <label for="name">Name</label>
                        <input class="form-control form-control-rounded" id="name" type="text" placeholder="Enter your name" />
                        <label for="phone">Phone</label>
                        <input class="form-control form-control-rounded" id="phone" placeholder="Enter phone" />
                        <label for="address">Address</label>
                        <input class="form-control form-control-rounded" id="address" placeholder="Enter Address" />
                    </div>
                </div>
            </div>
            <div class="row-mt-5-mb-5" style="margin-bottom: 10px;">
                <div class="col-md-12 d-flex justify-content-start">
                    <button class="btn btn-primary" style="margin-right:15px; width: 100px">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><!--col-xl-8 col-md-12 mb-4-->
                    <div class="card text-left">
                        <div class="card-header">
                            <h4 class="card-title mb-3">Product List</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="nav nav-tabs" id="dropdwonTab">
                                        <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" aria-controls="home" aria-expanded="true">New Item</a></li>
                                        <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile" aria-expanded="false">Hardware</a></li>
                                        <li class="nav-item"><a class="nav-link" id="about-tab" data-toggle="tab" href="#about" aria-controls="about" aria-expanded="false">Construction</a></li>
                                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            Others
                                        </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item active" id="dropdown1-tab" href="#dropdown1" data-toggle="tab" aria-controls="dropdown1" aria-expanded="true">@fat</a>
                                                <a class="dropdown-item" id="dropdown2-tab" href="#dropdown2" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">@mdo</a>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0" style="position: absolute;">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Type</th>
                                    <th scope="col">Product Price</th>
                                    <th scope="col">Picture</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>রড</td>
                                    <td>Construction</td>
                                    <td><span class="badge badge-info">5000tk per ton</span></td>
                                    <td><img class="rounded-circle m-0 avatar-sm-table" src="" alt="" /></td>
                                    <td><span class="badge badge-success">Available</span></td>
                                    <td>
                                        <div class="col-xs-2">
                                            <input class="form-control" id="ex1" type="text" placeholder="type your quantity">
                                        </div>
                                    </td>
                                    <td><button class="btn btn-primary" style=" margin-bottom: 10px;">Add</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>বালু</td>
                                    <td>Construction</td>
                                    <td><span class="badge badge-info">500tk per foot</span></td>
                                    <td><img class="rounded-circle m-0 avatar-sm-table" src="" alt="" /></td>
                                    <td><span class="badge badge-danger">Stock-out</span></td>
                                    <td>
                                        <div class="col-xs-2">
                                            <input class="form-control" id="ex2" type="text" size="1" placeholder="type your quantity">
                                        </div>
                                    </td>
                                    <td><button class="btn btn-primary" style=" margin-bottom: 10px;">Add</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Added Products</div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Product Picture</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><img class="profile-picture avatar-md rounded-circle" src="" alt="alt" /></th>
                                        <td><span class="text-15 font-weight-600">রড</span><br /><small class="text-mute">BSRM</small></td>
                                        <!--<td><span class="text-13">10 ton</span></td>-->
                                        <td>
                                            <div class="input-group btn-block" style="max-width: 200px;">
                                                <input type="text" value="10 ton" class="form-control">
                                            </div>
                                        </td>
                                        <td><span>10000</span></td>
                                        <td><button type="button" class="btn btn-danger"><i class="nav-icon i-Close-Window"></i></button></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><img class="profile-picture avatar-md rounded-circle" src="" alt="alt" /></th>
                                        <td><span class="text-15 font-weight-600">বালু</span><br /><small class="text-mute">...</small></td>
                                        <td>
                                            <div class="input-group btn-block" style="max-width: 200px;">
                                                <input type="text" value="20 foot" class="form-control">
                                            </div>
                                        </td>
                                        <td><span>20000</span></td>
                                        <td><button type="button" class="btn btn-danger"><i class="nav-icon i-Close-Window"></i></button></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Total Item: 2</th>
                                        <th>Total Amount: 30000</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Product Picture</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6 form-group mb-4">
                                            <input class="form-control form-control-rounded" id="credit5" placeholder="Total Previous Due" />
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <input class="form-control form-control-rounded" id="credit7" placeholder="Total Amount" />
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <input class="form-control form-control-rounded" type="text" placeholder="Enter Discount " />
                                            <!--<div class="row row-xs">
                                                <div class="col-md-9">
                                                    <input class="form-control form-control-rounded" type="text" placeholder="Enter Discount " />
                                                </div>
                                                <div class="col-md-3 mt-6 mt-md-0">
                                                    <button class="btn btn-success btn-md m-0">Adjust</button>
                                                </div>
                                            </div>-->
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <input class="form-control form-control-rounded" id="credit6" placeholder="VAT" />
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <input class="form-control form-control-rounded" id="credit3" placeholder="Amount with discount and vat. " />
                                        </div>
                                        <div class="col-md-6 form-group mb-4">
                                            <input class="form-control form-control-rounded" id="credit4" placeholder="Total Current Due" />
                                        </div>
                                        <div class="col-md-12 form-group mb-4">
                                            <label>Payment Method</label>
                                            <select class="form-control form-control-rounded">
                                                <option>Option 1</option>
                                                <option>Option 1</option>
                                                <option>Option 1</option>
                                            </select>
                                        </div>

                                    </div>
                                </form>
                                <button class="btn btn-primary btn-block mb-3" id="alert-confirm" type="button">Confirm Order</button>
                                <!--<div class="card text-left">
                                    <button class="btn btn-primary m-1" type="button" data-toggle="modal" data-target="#verifyModalContent" data-whatever="@mdo">Confirm Order</button>
                                    <div class="modal fade" id="verifyModalContent" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="verifyModalContent_title">Confirm Order</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="profile-picture avatar-lg rounded-circle" src="" alt="alt" />
                                                    <h1>Tanvir Ahmmed</h1>
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="firstName2">Code/UserId: </label>
                                                                <input class="form-control form-control-rounded" id="firstName2" type="text" value="001" placeholder="Enter your name" />
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="exampleInputEmail2">Email address</label>
                                                                <input class="form-control form-control-rounded" id="exampleInputEmail2" value="email@mail.com" type="email" placeholder="Enter email" />
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="phone1">Phone</label>
                                                                <input class="form-control form-control-rounded" id="phone1" value="016xxxxxxxx" placeholder="Enter phone" />
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="credit2">Address</label>
                                                                <input class="form-control form-control-rounded" id="credit2" value="147/j Rajabazar, Farmgate(1215)" placeholder="Enter your Village name" />
                                                            </div>
                                                            <div class="col-md-12 form-group mb-12">
                                                                <div class="row row-xs">
                                                                    <div class="col-md-8">
                                                                        <input class="form-control form-control-rounded" type="text" placeholder="Enter Discount " />
                                                                    </div>
                                                                    <div class="col-md-4 mt-6 mt-md-0">
                                                                        <button class="btn btn-success btn-md m-0">Adjust</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="credit2">Total Amount</label>
                                                                <input class="form-control form-control-rounded" id="credit3" placeholder="Total Amount" />
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="credit2">Current Due</label>
                                                                <input class="form-control form-control-rounded" id="credit4" placeholder="Total Current Due" />
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label for="credit2">Previous Due</label>
                                                                <input class="form-control form-control-rounded" id="credit5" placeholder="Total Previous Due" />
                                                            </div>
                                                            <div class="col-md-6 form-group mb-4">
                                                                <label>Payment Method</label>
                                                                <select class="form-control form-control-rounded">
                                                                    <option>Option 1</option>
                                                                    <option>Option 1</option>
                                                                    <option>Option 1</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" type="button">Proceed</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <div class="flex-grow-1"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: "OrderFromNewUser"
}
</script>

<style scoped>

</style>
