<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title mb-3">Single Sms</div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12 form-group mb-3">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input class="form-control" id="phoneNumber" type="number" placeholder="Enter Phone Number" />
                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <textarea name="career[message]" class="form-control" id="msgBody" tabindex="4"placeholder="Write Massage Here." ></textarea>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label class="radio radio-primary">
                                            <input type="radio" name="radio" value="0" /><span class="font-weight-700">Bangla</span><span class="checkmark"></span>
                                        </label>
                                        <label class="radio radio-primary mt-2">
                                            <input type="radio" name="radio" value="0" /><span class="font-weight-700">English</span><span class="checkmark" checked="checked"></span>
                                        </label>
                                        <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
name: "SingleSms"
}
</script>

<style scoped>

</style>
