<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-title mb-3">Filter</div>
                            <form>
                                <div class="row">
                                    <div class="col-md-6 form-group mb-3">
                                        <label for="dateFrom">Date From</label>
                                        <input class="form-control" id="dateFrom" type="date" placeholder="Enter Date From" />
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label for="dateTo">Date To</label>
                                        <input class="form-control" id="dateTo" type="date" placeholder="Enter Date To" />
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary">Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Sms Report</h4>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Massage</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>016000000</td>
                                        <td>Hello World</td>
                                        <td>12/02/2021</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>013000000</td>
                                        <td>Hello World</td>
                                        <td>13/02/2021</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
name: "SmsReport"
}
</script>

<style scoped>

</style>
