<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
                <div class="col-md-12">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 id="exampleModalCenterTitle">Tanvir All Transaction List<br/>Code/UserId: 001<br/>Phone: 016xxxxxxxx<br/>Address: Farmgate, Dhaka</h3><br/>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <div class="card text-left">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="badge badge-pill badge-dark p-2 m-1">Individual Product Transaction Info</span>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-end">
                                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Product List</th>
                                                        <th scope="col">Product Type</th>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Payment</th>
                                                        <th scope="col">Due</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Branch</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>রড, বালু</td>
                                                        <td>Construction</td>
                                                        <td>
                                                            <img class="rounded-circle m-0 avatar-sm-table" src="" alt="" />
                                                        </td>
                                                        <td>রড 10ton, বালু 20foot </td>
                                                        <td>10000 tk</td>
                                                        <td>9000tk tk</td>
                                                        <td>1000tk tk</td>
                                                        <td>23-12-20</td>
                                                        <td>Farmgate</td>
                                                        <td><span class="badge badge-success">Pending</span></td>
                                                        <!--<td><button class="btn btn-success btn-md m-0.5">Adjust</button></td>-->
                                                        <td>
                                                            <button class="btn btn-success btn-md m-0.5" type="button" data-toggle="modal" data-target="#verifyModalContent" data-whatever="@mdo">Adjust</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>বালু</td>
                                                        <td>Construction</td>
                                                        <td>
                                                            <img class="rounded-circle m-0 avatar-sm-table" src="" alt="" />
                                                        </td>
                                                        <td>বালু 10foot</td>
                                                        <td>20000 tk</td>
                                                        <td>20000 tk</td>
                                                        <td>0 tk</td>
                                                        <td>25-12-20</td>
                                                        <td>Farmgate</td>
                                                        <td><span class="badge badge-info">Delivered</span></td>
                                                        <td>
                                                            <button class="btn btn-success btn-md m-0.5" type="button" data-toggle="modal" data-target="#verifyModalContent" data-whatever="@mdo">Adjust</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Total Item: 2</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total Amount: 30000</th>
                                                        <th>Total Payment: 29000</th>
                                                        <th>Total Due: 29000</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Product Name</th>
                                                        <th scope="col">Product Type</th>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Payment</th>
                                                        <th scope="col">Due</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Branch</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-md-12">
                                    <div class="card text-left">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="badge badge-pill badge-dark p-2 m-1">Delivery Status</span>
                                                </div>
                                                <div class="col-md-6 d-flex justify-content-end">
                                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                                        <input class="form-control" type="text" placeholder="Search By Date" aria-label="Search" style="width: 300px;">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-borderless">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Payment</th>
                                                        <th scope="col">Due</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>23-12-20</td>
                                                        <td>9000tk tk</td>
                                                        <td>1000tk tk</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>23-12-20</td>
                                                        <td>9000tk tk</td>
                                                        <td>1000tk tk</td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total Payment: 9000</th>
                                                        <th>Total Due: 1000</th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Payment</th>
                                                        <th scope="col">Due</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success btn-md m-0.5" type="button" data-toggle="modal" data-target="#verifyModalContent1" data-whatever="@mdo">Adjust</button>
                            <router-link :to="{name:'admin.invoices'}">
                                <button class="btn btn-primary ml-2" type="button">Print</button>
                            </router-link>
                            <router-link :to="{name:'admin.customerDetails.add.order'}">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Back</button>
                            </router-link>
                        </div>
                    </div>
                    <div class="modal fade" id="verifyModalContent" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="verifyModalContent_title">Adjust Due</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <img class="profile-picture avatar-lg rounded-circle" src="" alt="alt" />
                                    <h1>Tanvir Ahmmed</h1>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="UserId">Code/UserId: </label>
                                                <input class="form-control form-control-rounded" id="UserId" type="text" value="001" placeholder="Enter your name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="phone">Phone</label>
                                                <input class="form-control form-control-rounded" id="phone" value="016xxxxxxxx" placeholder="Enter phone" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="address">Address</label>
                                                <input class="form-control form-control-rounded" id="address" value="147/j Rajabazar, Farmgate(1215)" placeholder="Enter your Village name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="TotalDue">Total Due</label>
                                                <input class="form-control form-control-rounded" id="TotalDue" placeholder="Total Amount" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="TransactionDue">This transaction Due</label>
                                                <input class="form-control form-control-rounded" id="TransactionDue" placeholder="Total Current Due" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="DateOfTransaction">Date of Transaction</label>
                                                <input class="form-control form-control-rounded" id="DateOfTransaction" placeholder="Total Previous Due" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="payment">Payment</label>
                                                <input class="form-control form-control-rounded" id="payment" name="payment" placeholder="Total Previous Due" />
                                            </div>
                                            <div class="col-md-12 form-group mb-4">
                                                <label>Payment Method</label>
                                                <select class="form-control name=payment_id form-control-rounded" name="payment_id" id="payment_id" required>
                                                    <option :value="null">Select One</option>
                                                    <option :value="1">Cash</option>
                                                    <option :value="2">Credit</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6 form-group mb-4">
                                                <label for="TotalDueAfterPayment">Total Due After Payment</label>
                                                <input class="form-control form-control-rounded" id="TotalDueAfterPayment" placeholder="Total Amount" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="DueAfterPayment">Due After Payment</label>
                                                <input class="form-control form-control-rounded" id="DueAfterPayment" placeholder="Total Amount" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button">Proceed</button>
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="verifyModalContent1" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="verifyModalContent_title_1">Adjust Due</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <img class="profile-picture avatar-lg rounded-circle" src="" alt="alt" />
                                    <h1>Tanvir Ahmmed</h1>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="code">Code/UserId: </label>
                                                <input class="form-control form-control-rounded" id="code" type="text" value="001" placeholder="Enter your name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="Uphone">Phone</label>
                                                <input class="form-control form-control-rounded" id="Uphone" value="016xxxxxxxx" placeholder="Enter phone" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="Uaddress">Address</label>
                                                <input class="form-control form-control-rounded" id="Uaddress" value="147/j Rajabazar, Farmgate(1215)" placeholder="Enter your Village name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="UTotalDue">Total Due</label>
                                                <input class="form-control form-control-rounded" id="UTotalDue" placeholder="Total Amount" />
                                            </div>
                                            <div class="col-md-12 form-group mb-4">
                                                <label for="UDateOfLastTransaction">Date of Last Transaction</label>
                                                <input class="form-control form-control-rounded" id="UDateOfLastTransaction" placeholder="Total Previous Due" />
                                            </div>
                                            <div class="col-md-12 form-group mb-4">
                                                <label>Payment Method</label>
                                                <select class="form-control form-control-rounded">
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 form-group mb-4">
                                                <label for="UTotalDueAfterPayment">Total Due After Payment</label>
                                                <input class="form-control form-control-rounded" id="UTotalDueAfterPayment" placeholder="Total Amount" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button">Proceed</button>
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TransactionInfo"
}
</script>

<style scoped>

</style>
