<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="false">Invoice</a></li>
                        <li class="nav-item"><a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a></li>

                    </ul>
                    <div class="card">
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-start">
                                        <div class="d-sm-flex justify-content-start mb-5" data-view="print"><span class="m-auto"></span>
                                            <router-link :to="{name:'admin.customerDetails.add.order'}">
                                                <button class="btn btn-outline-danger mb-sm-0 mb-3 ml-2" type="button">Take New Order</button>
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end">
                                        <div class="d-sm-flex mb-5" data-view="print"><span class="m-auto"></span>
                                            <button class="btn btn-primary mb-sm-0 mb-3 print-invoice">Print Invoice</button>
                                        </div>
                                    </div>

                                </div>
                                <!-- -===== Print Area =======-->
                                <div id="print-area">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="font-weight-bold">Order Info</h4>
                                            <p>#106</p>
                                        </div>
                                        <div class="col-md-6 text-sm-right">
                                            <p><strong>Order status: </strong>Delivered</p>
                                            <p><strong>Order date: </strong>10 Dec, 2018</p>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-4 border-top"></div>
                                    <div class="row mb-5">
                                        <div class="col-md-6 mb-3 mb-sm-0">
                                            <h5 class="font-weight-bold">Bill From</h5>
                                            <p>New Age Inc.</p><span style="white-space: pre-line">
                                                    rodriguez.trent@senger.com 61 Johnson St. Shirley, NY 11967. +202-555-0170
                                                </span>
                                        </div>
                                        <div class="col-md-6 text-sm-right">
                                            <h5 class="font-weight-bold">Bill To</h5>
                                            <p>UI Lib</p><span style="white-space: pre-line">
                                                    016xxxxxxxx
                                                    sales@ui-lib.com 8254 S. Garfield Street. Villa Rica, GA 30180. +1-202-555-0170
                                                </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table table-hover mb-4">
                                                <thead class="bg-gray-300">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Item Name</th>
                                                    <th scope="col">Unit Price</th>
                                                    <th scope="col">Unit</th>
                                                    <th scope="col">Cost</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Product 1</td>
                                                    <td>300</td>
                                                    <td>2</td>
                                                    <td>600</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Product 2</td>
                                                    <td>200</td>
                                                    <td>3</td>
                                                    <td>600</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="invoice-summary">
                                                <p>Sub total: <span>$1200</span></p>
                                                <p>Vat: <span>$120</span></p>
                                                <h5 class="font-weight-bold">Grand Total: <span>$1320</span></h5>
                                                <h5 class="font-weight-bold">Payment Type: <span >Cash</span></h5>
                                                <h5 class="font-weight-bold">Payment: <span>$1000</span></h5>
                                                <h5 class="font-weight-bold">Due: <span>$320</span></h5>
                                                <h5 class="font-weight-bold">Total Due: <span>$3020</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ==== / Print Area =====-->
                            </div>
                            <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="invoice-tab">

                                        <form>
                                            <div class="row justify-content-between">
                                                <div class="col-md-6">
                                                    <h4 class="font-weight-bold">Order Info</h4>
                                                    <p>#106</p>
                                                    <p>Total Due:<span>$0</span></p>
                                                    <p>Current Due:<span>$1200</span></p>
                                                    <p>Previous Due:<span>$1200</span></p>
                                                </div>

                                                <div class="col-md-3 text-right">
                                                    <label class="d-block text-12 text-muted">Order Status</label>
                                                    <div class="pr-0 mb-4">
                                                        <label class="radio radio-reverse radio-danger">
                                                            <input type="radio" name="orderStatus" value="Pending" /><span>Pending</span><span class="checkmark"></span>
                                                        </label>
                                                        <label class="radio radio-reverse radio-warning">
                                                            <input type="radio" name="orderStatus" value="Processing" /><span>Processing</span><span class="checkmark"></span>
                                                        </label>
                                                        <label class="radio radio-reverse radio-success">
                                                            <input type="radio" name="orderStatus" value="Delivered" /><span>Delivered</span><span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="order-datepicker">Order Date</label>
                                                        <input class="form-control text-right" id="order-datepicker" placeholder="yyyy-mm-dd" name="dp" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-3 mb-4 border-top"></div>
                                            <div class="row mb-5">
                                                <div class="col-md-6">
                                                    <h5 class="font-weight-bold">Bill From</h5>
                                                    <div class="col-md-10 form-group mb-3 pl-0">
                                                        <input class="form-control" id="billFrom3" type="text" placeholder="Bill From" />
                                                    </div>
                                                    <div class="col-md-10 form-group mb-3 pl-0">
                                                        <textarea class="form-control" placeholder="Bill From Address"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <h5 class="font-weight-bold">Bill To</h5>
                                                    <div class="col-md-10 offset-md-2 form-group mb-3 pr-0">
                                                        <input class="form-control text-right" id="billFrom2" type="text" placeholder="Name" />
                                                    </div>
                                                    <div class="col-md-10 offset-md-2 form-group mb-3 pr-0">
                                                        <input class="form-control text-right" id="billFrom4" type="text" placeholder="Phone Number" />
                                                    </div>
                                                    <div class="col-md-10 offset-md-2 form-group mb-3 pr-0">
                                                        <textarea class="form-control text-right" placeholder="Bill From Address"></textarea>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 table-responsive">
                                                    <table class="table table-hover mb-3">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Product Picture</th>
                                                            <th scope="col">Product Name</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Amount</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row"><img class="profile-picture avatar-md rounded-circle" src="" alt="alt" /></th>
                                                            <td><span class="text-15 font-weight-600">রড</span><br /><small class="text-mute">BSRM</small></td>
                                                            <!--<td><span class="text-13">10 ton</span></td>-->
                                                            <td>
                                                                <div class="input-group btn-block" style="max-width: 200px;">
                                                                    <input type="text" value="10 ton" class="form-control">
                                                                </div>
                                                            </td>
                                                            <td><span>10000</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row"><img class="profile-picture avatar-md rounded-circle" src="" alt="alt" /></th>
                                                            <td><span class="text-15 font-weight-600">বালু</span><br /><small class="text-mute">...</small></td>
                                                            <td>
                                                                <div class="input-group btn-block" style="max-width: 200px;">
                                                                    <input type="text" value="20 foot" class="form-control">
                                                                </div>
                                                            </td>
                                                            <td><span>20000</span></td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th>Total Item: 2</th>
                                                            <th>Total Amount: 30000</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Product Picture</th>
                                                            <th>Product Name</th>
                                                            <th>Quantity</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6 d-flex justify-content-start">
                                                            <div class="card" style="width: 1000px;background-color: #FFFFFF;border-color: #FFFFFF;">
                                                                <div class="card-body">
                                                                    <h4 class="card-title mb-3">Payment Method</h4>
                                                                    <ul class="nav nav-pills" id="myPillTab" role="tablist">
                                                                        <li class="nav-item"><a class="nav-link active" id="home-icon-pill" data-toggle="pill" href="#homePIll" role="tab" aria-controls="homePIll" aria-selected="true"><i class="nav-icon i-Cash-register-2 mr-1"></i>Cash</a></li>
                                                                        <li class="nav-item"><a class="nav-link" id="profile-icon-pill" data-toggle="pill" href="#profilePIll" role="tab" aria-controls="profilePIll" aria-selected="false"><i class="nav-icon i-Credit-Card mr-1"></i>Credit/Debit Card</a></li>
                                                                    </ul>
                                                                    <div class="tab-content" id="myPillTabContent">
                                                                        <div class="tab-pane fade show active" id="homePIll" role="tabpanel" aria-labelledby="home-icon-pill">
                                                                            <div class="form-row">
                                                                                <div class="form-group col-md-12">
                                                                                    <label class="ul-form__label">Amount:</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon2"><i class="i-Cash-register-2 text-18"></i></span></div>
                                                                                        <input class="form-control" type="text" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="profilePIll" role="tabpanel" aria-labelledby="profile-icon-pill">
                                                                            <div class="form-row">
                                                                                <div class="form-group col-md-12">
                                                                                    <label class="ul-form__label">Card Number:</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="i-Credit-Card-2 text-18"></i></span></div>
                                                                                        <input class="form-control" type="text" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <button class="btn btn-outline-success ladda-button example-button m-1" data-style="expand-left"><span class="ladda-label">Confirm</span><span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 d-flex justify-content-end">
                                                            <div class="invoice-summary invoice-summary-input float-right">
                                                                <p>Sub total: <span>$1200</span></p>
                                                                <p class="d-flex align-items-center">Vat(%):<span>$120</span></p>
                                                                <p class="d-flex align-items-center">Discount(%):<span>$120</span></p>
                                                                <h5 class="font-weight-bold d-flex align-items-center">Grand Total:<span>$1320</span></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "InvoicePrint"
}
</script>

<style scoped>

</style>
