<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <div class="card text-left">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <router-link :to="{name:'admin.customerDetails.add.order'}">
                                        <button class="btn btn-outline-danger m-1" type="button">Take New Order</button>
                                    </router-link>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">User Type</th>
                                        <th scope="col">Product List</th>
                                        <th scope="col">Total Item</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Due</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Branch</th>
                                        <th scope="col">Deliver Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>bata01</td>
                                        <td>Wholesaler</td>
                                        <td>Casual Shoes 10p, Formal Shoes 20p</td>
                                        <td>2</td>
                                        <td>20000 tk</td>
                                        <td>15000 tk</td>
                                        <td>5000 tk</td>
                                        <td>23-12-20</td>
                                        <td>Farmgate</td>
                                        <td><span class="badge badge-success">Delivered</span></td>
                                        <!--<td><button class="btn btn-success btn-md m-0.5">Adjust</button></td>-->
                                        <td>
                                            <router-link :to="{name:'admin.customerDetails.add.order.transactioninfo'}">
                                                <button class="btn btn-outline-info m-0" type="button" data-toggle="modal" data-whatever="@mdo">Print</button>
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>karim01</td>
                                        <td>Single Customer</td>
                                        <td>Casual Shoes 1p, Formal Shoes 2p</td>
                                        <td>2</td>
                                        <td>5000 tk</td>
                                        <td>5000 tk</td>
                                        <td>0 tk</td>
                                        <td>23-12-20</td>
                                        <td>Farmgate</td>
                                        <td><span class="badge badge-success">Delivered</span></td>
                                        <!--<td><button class="btn btn-success btn-md m-0.5">Adjust</button></td>-->
                                        <td>
                                            <router-link :to="{name:'admin.customerDetails.add.order.transactioninfo'}">
                                                <button class="btn btn-outline-info m-0" type="button" data-toggle="modal" data-whatever="@mdo">Print</button>
                                            </router-link>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <th>Total Amount: 25000 tk</th>
                                        <th>Total Payment: 20000 tk</th>
                                        <th>Total Due: 5000 tk</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <!--<td><button class="btn btn-success btn-md m-0.5">Adjust</button></td>-->
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">User Type</th>
                                        <th scope="col">Product List</th>
                                        <th scope="col">Total Item</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Due</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Branch</th>
                                        <th scope="col">Deliver Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "OrderHistory"
}
</script>

<style scoped>

</style>
