<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-6">
                                <div class="card-body">
                                    <div class="card-title mb-12">Add Sub Categories</div>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 form-group mb-4">
                                                <label>Category</label>
                                                <select class="form-control form-control-rounded" name="category_id">
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label>Sub Category</label>
                                                <select class="form-control form-control-rounded" name="sub_category_id">
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                    <option>Option 1</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="firstName2">Product Name</label>
                                                <input class="form-control form-control-rounded" id="firstName2" name="name" type="text" placeholder="Enter Product Name" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="code">Code</label>
                                                <input class="form-control form-control-rounded" id="code" name="code" type="number" placeholder="Enter Code" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="price">Price</label>
                                                <input class="form-control form-control-rounded" id="price" name="price" type="number" placeholder="Enter Price" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="stock">Quantity</label>
                                                <input class="form-control form-control-rounded" id="stock" name="stock" type="number" placeholder="Enter Quantity" />
                                            </div>
                                            <div class="col-md-6 form-group mb-4">
                                                <label for="descriptions">Description</label>
                                                <input class="form-control form-control-rounded" id="descriptions" name="descriptions" type="text" placeholder="Enter Description" />
                                            </div>
                                            <div class="col-md-12 form-group mb-6">
                                                <div class="card text-left">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Product Sample Image upload</h4>
                                                        <form class="dropzone" id="single-file-upload" action="#">
                                                            <div class="fallback">
                                                                <input name="file" type="file" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" style="margin-right:15px; width: 100px">Add</button>
                                                <router-link :to="{name:'admin.add-products'}">
                                                    <button class="btn btn-outline-primary" style="margin-right:15px; width: 100px">Back</button>
                                                </router-link>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddingProduct"
}
</script>

<style scoped>

</style>
