<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <button class="btn btn-outline-primary" style="width:200px;margin-bottom: 10px;" type="button" data-toggle="modal" data-target="#verifyModalContent1">Add</button>
            <div class="modal fade" id="verifyModalContent1" tabindex="-1" role="dialog" aria-labelledby="verifyModalContent" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="verifyModalContent_title_1">Adjust Due</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <img class="profile-picture avatar-lg rounded-circle" src="" alt="alt" />
                            <h1>Tanvir Ahmmed</h1>
                            <fieldset style="width: 300px;">
                                <label>Add Category</label>
                                <div class="form-group">
                                    <div class="forbidden-words" data-no-duplicate="true" data-pre-tags-separator="," data-no-duplicate-text="Duplicate tags" data-type-zone-class="type-zone" data-tag-box-class="tagging" data-edit-on-delete="true"></div>
                                    <!--<p class="text-muted"><code>&quot;forbidden-words&quot;:[&quot;shit&quot;,&quot;bloody&quot;]</code></p>-->
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-info" type="button">Add</button>
                            <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-left">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <router-link :to="{name:'admin.add-sub-categories'}">
                                        <button class="btn btn-outline-success m-1" type="button">Add Sub Categories</button>
                                    </router-link>
                                    <router-link :to="{name:'admin.add-products'}">
                                        <button class="btn btn-outline-success m-1" type="button">Add Products</button>
                                    </router-link>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Sub Category Name</th>
                                        <th scope="col">Total Item</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Electronics</td>
                                        <td>Smartphones, Laptop</td>
                                        <td>10</td>
                                        <td>23-12-20</td>
                                        <td>
                                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#verifyModalContent1"><i class="nav-icon i-Pen-2"></i></button>
                                            <button class="btn btn-outline-danger m-0" type="button">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Furniture</td>
                                        <td>Chair, Table</td>
                                        <td>100</td>
                                        <td>23-12-20</td>
                                        <td>
                                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#verifyModalContent1"><i class="nav-icon i-Pen-2"></i></button>
                                            <button class="btn btn-outline-danger m-0" type="button">Delete</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Sub Category Name</th>
                                        <th scope="col">Total Item</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductCategories"
}
</script>

<style scoped>

</style>
