<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>

            <router-link :to="{name:'admin.add-products.addingproduct'}">
                <button class="btn btn-outline-primary" style="width:200px;margin-bottom: 10px;" type="button">Add</button>
            </router-link>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-left">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <router-link :to="{name:'admin.add-categories'}">
                                        <button class="btn btn-outline-success m-1" type="button">Add Categories</button>
                                    </router-link>
                                    <router-link :to="{name:'admin.add-products'}">
                                        <button class="btn btn-outline-success m-1" type="button">Add Products</button>
                                    </router-link>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Sub Categories Name</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td scope="row">001</td>
                                        <td scope="row">Construction</td>
                                        <td scope="row">Electrical</td>
                                        <td scope="row">Celling Fan</td>
                                        <td scope="row">Foot</td>
                                        <td scope="row">3500tk</td>
                                        <td scope="row">10p</td>
                                        <td scope="row">Aluminium Body with 10y warranty</td>
                                        <td><span class="badge badge-success">Available</span></td>
                                        <td>
                                            <button class="btn btn-outline-danger m-0" type="button" data-toggle="modal" data-whatever="@mdo">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td scope="row">002</td>
                                        <td scope="row">Construction</td>
                                        <td scope="row">Construction</td>
                                        <td scope="row">Sand</td>
                                        <td scope="row">Piece</td>
                                        <td scope="row">5500tk</td>
                                        <td scope="row">10foot</td>
                                        <td scope="row">.......</td>
                                        <td><span class="badge badge-info">Upcoming</span></td>
                                        <td>
                                            <button class="btn btn-outline-danger m-0" type="button" data-toggle="modal" data-whatever="@mdo">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td scope="row">003</td>
                                        <td scope="row">Construction</td>
                                        <td scope="row">Construction</td>
                                        <td scope="row">Rod</td>
                                        <td scope="row">Meter</td>
                                        <td scope="row">1500tk</td>
                                        <td scope="row">0meter</td>
                                        <td scope="row">.......</td>
                                        <td><span class="badge badge-danger">Stock-out</span></td>
                                        <td>
                                            <button class="btn btn-outline-danger m-0" type="button" data-toggle="modal" data-whatever="@mdo">Delete</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Sub Categories Name</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddProducts"
}
</script>

<style scoped>

</style>
