@charset "utf-8";
body{
	background-size:cover;
	background-image:url(pic/girl-with-guitar-feat.png);
	margin-bottom: 200px;
}
p{
	text-align: center;
	font-size: 20px;
	color:violet;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
