body{
	background-size:cover;
	background-image:url(pic/10.png);
	margin-bottom: 300px;
	
}
p{
	font-size: 20px;
	color:violet;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
div{
	padding-left:200px;
	padding-top: 100px;
}