@charset "utf-8";
body{
	background-size:cover;
	background-image: url(pic/9.png);
	margin-bottom: 300px;
	
}
.d1{
	padding-left: 400px;
	padding-right: 400px;
	height: 500px;
	width: 100px;
	background-image:url(pic/4.png);
	margin-left: 800px;
    margin-top: 100px;
}
.d2{
	border: 2px solid;
    padding: 20px; 
    width: 150px;
    height: 300px;
    resize: both;
    overflow: auto;
}
.but{
	max-height: 20px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

@media(max-width:768px){
	h1{
		font-size: 40px;
		text-align: center;
		padding-left: 0px;
	}
	img{
		height:  100px;
	}
	.d1{
		padding-right: 310px;
		height: 500px;
		width: 100px;
		margin-left: 225px;
    	margin-top: 80px;
	}
	body{
		height: 350px;
		width: 100px;
		margin-bottom: 300px;
	}
}