
body{
	background-size:cover;
	background-image: url(pic/9.png);
	margin-bottom: 300px;
	
}
a{
	text-decoration:none;
	font-size: 22px;
	font-family: verdana;
	font-weight: bold;
}
p{
	text-align: center;
	font-size: 50px;
	color:rgba(36,32,127,1.00);
	padding-left: 400px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.pv{
	font-size: 30px;
}
.ft{
	align-content: center;
	align-items: center;
}
.im2{
	height:300px;
	width: 400px;
	padding-left: 500px;
}
.td2{
	padding-left: -400px;
	padding-right: 400px;
    margin-top: 100px;
}
.td1{
	height: 500px;
	width: 100px;
	padding-right: 650px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

@media(max-width:768px){
	h1{
		font-size: 40px;
		text-align: center;
		padding-left: 0px;
	}
	.d1{
		padding-right: 310px;
		height: 500px;
		width: 100px;
		margin-left: 225px;
    	margin-top: 80px;
	}
	.td2{
		padding-right: 310px;
		height: 500px;
		width: 100px;
	}
	.im{
		height:  500px;
		width :  300px;
	}
	.im2{
	height:300px;
	width: 400px;
	padding-left: 150px;
}
	body{
		height: 350px;
		width: 100px;
		margin-bottom: 300px;
	}
}