.tb{
	padding-left:400px;
	padding-top:100px;
}
p{
	padding-left: 203px;
	size:40px;
}
body{
	background-color:#C5BFC0;
}

table {
   border-collapse: collapse;
   width: 50%;
   color: #588c7e;
   font-family: monospace;
   font-size: 25px;
   text-align: left;
     } 
  th {
   background-color: #588c7e;
   color: white;
    }
  tr:nth-child(even) {background-color: #f2f2f2}

