body{
	background-image:url(pic/03e392d9a1a008f002b1609014a1fa57.jpg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	
	height: 100%; 
    background-position: center;
    background-size: cover;
}
.simple-des{
	text-align: center;
	margin: 100px 400px;
}
.modal-content {
    background-color: red;
}
.tb{
	text-align: center;
	align-content: center;
	align-items: center;
	margin: 100px 8px;
	padding-left:100px;
	
}

#but{
	border-radius: 5px;
	background-color:white;
	opacity: 0.8;
}