<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="card" style="width: 1000px;background-color: #FFFFFF;border-color: #FFFFFF;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-6">
                                    <div class="card-body">
                                        <div class="card-title mb-12">Shop General Information</div>
                                        <form action="javascript:void(0)" enctype="multipart/form-data" ref="addNew" @submit="storeInfo">
                                            <div class="row">
                                                <div class="col-md-6 form-group mb-4">
                                                    <label for="name">Shop/Company/Industries Name</label>
                                                    <input class="form-control form-control-rounded" name="name" id="name" type="text" placeholder="Enter your name" />
                                                </div>
                                                <div class="col-md-6 form-group mb-4">
                                                    <label for="business_type">Type of Business/Company</label>
                                                    <input class="form-control form-control-rounded" name="business_type" id="business_type" type="text" placeholder="Enter your Father's name" />
                                                </div>
                                                <div class="col-md-6 form-group mb-4">
                                                    <label for="shop_phone">Shop Phone Number</label>
                                                    <input class="form-control form-control-rounded" name="shop_phone" id="shop_phone" type="text" placeholder="Enter your Father's name" />
                                                </div>
                                                <div class="col-md-6 form-group mb-4">
                                                    <label for="logo">logo</label>
                                                    <input type="file" class="form-control form-control-rounded" name="logo" id="logo"/>
                                                </div>
                                                <div class="col-md-12 form-group mb-4">
                                                    <label for="description">Address</label>
                                                    <vue-editor v-model="description" id="description"></vue-editor>
                                                </div>
                                                    <div class="card-body col-md-12">
                                                        <div class="card-title mb-12">Shop Owner Information</div>
                                                    </div>
                                                    <div class="col-md-12 form-group mb-4">
                                                        <label for="name">Shop/Company/Industries Owner Name</label>
                                                        <input class="form-control form-control-rounded" name="user_name" id="user_name" type="text" placeholder="Enter your name" />
                                                    </div>
                                                    <div class="col-md-6 form-group mb-4">
                                                        <label for="email">Email</label>
                                                        <input class="form-control form-control-rounded" name="email" id="email" type="text" placeholder="Enter your name" />
                                                    </div>
                                                    <div class="col-md-6 form-group mb-4">
                                                        <label for="phone_number">Phone Number</label>
                                                        <input class="form-control form-control-rounded" name="phone_number" id="phone_number" type="text" placeholder="Enter your name" />
                                                    </div>
                                                    <div class="col-md-6 form-group mb-4">
                                                        <label for="gender_id">Gender</label>
                                                        <select class="form-control name=gender_id form-control-rounded" name="gender_id" id="gender_id" required>
                                                            <option :value="null">Select One</option>
                                                            <option :value="1">Male</option>
                                                            <option :value="2">Female</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 form-group mb-4">
                                                        <label for="address">Address</label>
                                                        <input class="form-control form-control-rounded" name="address" id="address" type="text" placeholder="Enter your name" />
                                                    </div>
                                                    <div class="card-title mb-12 col-md-12">Branch Information</div>
                                                    <div class="col-md-6 form-group mb-4">
                                                        <label for="branch_name">Name</label>
                                                        <input class="form-control form-control-rounded" name="branch_name" id="branch_name" type="text" placeholder="Enter your name" required/>
                                                    </div>
                                                    <div class="col-md-12 form-group mb-4">
                                                        <label for="branch_description">Description</label>
                                                        <vue-editor v-model="branch_description" id="branch_description"></vue-editor>
                                                    </div>
                                                    <div class="col-md-12 d-flex justify-content-start form-group mb-4">
                                                        <button class="btn btn-primary" style="width: 200px;">Add</button>
                                                    </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
    name: "AddShop",
    components: {
        VueEditor
    },
    data(){
        return{
            description:'',//this is for shop description store
            branch_description:'',//this is store branch description
        }
    },
    methods:{
        /*
        * methods for store shop, branch and owner information
        * */
        storeInfo(){
            let data= new FormData(this.$refs.addNew);
            data.append('description',this.description);
            data.append('branch_description',this.branch_description);
            axios.post('/super/shop/store',data).then((response)=>{
                this.$toaster.success(response.data);
            }).catch((error)=>{
                if (error.response.status === 422){
                    this.$toaster.error(error.response.data.errors);
                }else
                    this.$toaster.error(error);
            });

        }
    }
}
</script>

<style scoped>

</style>
