<template>
    <div class="main-content-wrap sidenav-open d-flex flex-column">
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="breadcrumb">
                <h1>Shop Information</h1>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <div class="row mb-4">
                <div class="col-md-12 mb-4">
                    <div class="card text-left">
                        <div class="card-body">
                            <div class="card-title mb-3">Shop Information
                                <router-link :to="{name:'admin.shop.add'}">
                                    <button class="btn btn-primary">Add New</button>
                                </router-link>
                            </div>
                            <div class="table-responsive">
                                <table id="table" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Shop Name</th>
                                            <th>Business Type</th>
                                            <th>Owner Name</th>
                                            <th>Email</th>
                                            <th>Phone NUmber</th>
                                            <th>Total branch</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(shop,key) in shops">
                                            <td>{{key+1}}</td>
                                            <td>{{shop.name}}</td>
                                            <td>{{shop.business_type}}</td>
                                            <td>{{shop.user?shop.user.name:''}}</td>
                                            <td>{{shop.user?shop.user.email:''}}</td>
                                            <td>{{shop.user?shop.contacts:''}}</td>
                                            <td>{{shop.branches_count}}</td>
                                            <td>
                                                <p style="color: green" v-if="shop.is_active">Active</p>
                                                <p style="color: red" v-if="shop.is_active===0">Inactive</p>
                                            </td>
                                            <td>
                                                <button v-if="shop.is_active" class="btn btn-danger" @click="statusChange(shop)">Deactivate</button>
                                                <button v-else-if="shop.is_active===0" class="btn btn-success" @click="statusChange(shop)">Activate</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>SL</th>
                                            <th>Shop Name</th>
                                            <th>Business Type</th>
                                            <th>Owner Name</th>
                                            <th>Email</th>
                                            <th>Phone NUmber</th>
                                            <th>Total branch</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of col-->
            </div>
            <!-- end of row-->
            <!-- end of main-content -->
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            shops:{},//all super users are store here
            dataTableStatus:false,
        }
    },
    created() {
        this.getInfo();
    },
    methods:{
        getInfo(){//super user information get
            axios.post('/super/shop/info/get').then((response)=>{
                this.shops=response.data;
                if (this.dataTableStatus===false){
                    this.$nextTick(() => {
                        $("#table").DataTable({});
                        this.dataTableStatus=true
                    });
                }
            }).catch((error)=>{

            });
        },
        statusChange(shop){//super user status change likes active or deactivate
            axios.put(`/super/shop/status/change${shop.id}`).then((response)=>{
                this.$toaster.success(response.data);
                this.getInfo();
            }).catch((error)=>{

            });
        }
    }
}
</script>
