body{
	background-image:url(pic/03e392d9a1a008f002b1609014a1fa57.jpg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	color:rgba(116,104,72,1.00);
	
	height: 100%; 
    background-position: center;
    background-size: cover;
}
.simple-des{
	text-align: center;
	margin: 100px 400px;
}
.tb{
	text-align: center;
	align-content: center;
	align-items: center;
	margin: 100px 8px;
	
	padding-left: 100px;
	
}
#regis{
	width: auto;
	background-color: #051019;
	opacity: 0.8;
	padding: 40px 0px;
}
#but{
	border-radius: 5px;
	background-color:rgba(71,90,176,1.00);
	opacity: 0.8;
}